
[data-uia-text-loader-type="uia-text-loader-type-1"] .uia-text-loader__letter-placeholder {
	animation-name: uia-text-loader-1;
}

@media (prefers-reduced-motion: no-preference) {

	@keyframes uia-text-loader-1 {

		0%, 10%, 90%, 100% {
			scale: 0;
		}

		20%, 75% {
			scale: 1;
		}
	}
}

@media (prefers-reduced-motion: reduce) {

    @keyframes uia-text-loader-1 {

        0%, 10%, 90%, 100% {
            opacity: 0;
        }

        20%, 75% {
            opacity: 1;
        }
    }
}
